@import url('https://fonts.googleapis.com/css?family=Numans');

body {
  background-image: url("wallpaper.jpg") !important;
  font-family: 'Numans', sans-serif !important;
  color: #FFFFFF !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
}

.h3 {
    font-size: 10px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar {
  width: auto;
}

.container{
  height: auto;
  width: auto;
  max-width: 100%;
}

.card{
    height: auto !important;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    width: 500px !important;
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.input-group-addon.primary {
    color: black;
    background-color: orange;
    border-color: orange;
}

.input-group-addon.user {
    color: black;
    background-color: orange;
    border-color: orange;
}

.input-group-addon.email {
    color: black;
    background-color: orange;
    border-color: orange;
}

.btn-primary{
    color:white !important;
    background-color: orange !important;
    border-color: orange !important;
    font-size: 20px !important;
}

.btn-record{
    color:white !important;
    background-color: red !important;
    border-color: red !important;
}

.btn-stop{
    color:white !important;
    background-color: blue !important;
    border-color: blue !important;
}

.dropdown {
    background-color: orange;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 470px !important;
    font-size: 16px;
}

.dropdown-content {
    display: block !important;
    position: absolute;
    background-color: white !important;
    color:black !important;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:focus{
    outline:none !important;
 }

.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding-bottom: 0.6em;
}

#micButton {
    font-size: 100px !important;
}


#bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    bottom: 1px;
    height: 3px;
    width: 10px;
    margin: 0px 4px;
    border-radius: 5px;
    animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 70px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 15px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 29px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 43px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 57px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 71px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 85px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 99px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 113px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 127px; animation-duration: 442ms; }