{% extends "app/base.html" %}
{% block content %}

{% load bootstrap3 %}
<script src="/static/app/scriptForgot.js" type="text/javascript"></script>
<div class="card-header">
    <h2>Forgot your secret phrase?</h2>
</div>

<div class="card-body">
     <div class="form-main">
            <div class="form-group">

                <br>

                <h4>Enter your details:</h4>
                <br>
                <div class="input-group">
                    <span class="input-group-addon user"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" id="userName" placeholder="Username">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon primary"><i class="fas fa-at"></i></span>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <br>
                <br>

                <div style="text-align:center">
                    <h4>The security phrase will be sent to your email after pressing Submit</h4>
                </div>

                <br>
                <br>
                <p align="center">
                    <button onclick="submitToServer()" id="submitDetails" class="btn btn-primary">Submit</button>
                </p>
                <br>
            </div>
     </div>
</div>
<div class="result_container form-group">
    <label for="result">Result</label>
    <textarea class="form-control" id="result" rows="1"></textarea>
</div>
{% endblock %}