{% extends "app/base.html" %}
{% block content %}
{% load bootstrap3 %}

<script src="/static/app/scriptSignUp.js" type="text/javascript"></script>

<div class="card-header">
    <h2>Sign Up</h2>
</div>

<div class="card-body">
     <div class="form-main">
            <div class="form-group">

                <br>

                <h4>Enter your details:</h4>

                <br>

                <div class="input-group">
                    <span class="input-group-addon user"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" id="userName" placeholder="Username">
                </div>

                <br>

                <div class="input-group">
                    <span class="input-group-addon primary"><i class="fas fa-at"></i></span>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>

                <br>

                <div class="input-group">
                    <select id="dropdown" class="dropdown" name="Secret phrase">
                        <option value="" selected disabled hidden>Choose a secret phrase</option>
                        <option value="Houston we have a problem" class="dropdown-content">Houston we have a problem</option>
                        <option value="my voice is my password verify me" class="dropdown-content">my voice is my password verify me</option>
                        <option value="apple juice tastes funny after toothpaste" class="dropdown-content">apple juice tastes funny after toothpaste</option>
                        <option value="you can get in without your password" class="dropdown-content">you can get in without your password</option>
                        <option value="you can activate security system now" class="dropdown-content">you can activate security system now</option>
                        <option value="my voice is stronger than passwords" class="dropdown-content">my voice is stronger than passwords</option>
                        <option value="my password is not your business" class="dropdown-content">my password is not your business</option>
                        <option value="my password is unknown to you" class="dropdown-content">my password is unknown to you</option>
                        <option value="be yourself everyone else is already taken" class="dropdown-content">be yourself everyone else is already taken</option>
                        <option value="love is the secret password to Every Soul" class="dropdown-content">love is the secret password to Every Soul</option>
                        <option value="keep your friends close but your enemies closer" class="dropdown-content">keep your friends close but your enemies closer</option>
                    </select>
                </div>

                <br>

                <h4 for="player">Please press microphone button and read the phrase above three times to enroll your voice:</h4>


                <div class="container" style="height: 60px">
                    <div id="bars">
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                    </div>
                </div>

                <br>

                <p align="center">
                    <button class="button" id="recordButton" onclick="toggler()"><i class="fa fa-microphone" aria-hidden="true" id="micIcon"></i></button>
                </p>

                <p align="center">
                    <i class="fa fa-check" style="font-size:50px" id="checkCircle1"></i>&emsp;&emsp;
                    <i class="fa fa-check" style="font-size:50px" id="checkCircle2"></i>&emsp;&emsp;
                    <i class="fa fa-check" style="font-size:50px" id="checkCircle3"></i>
                </p>

                <!--<div id="player1">
                    <audio controls src=""></audio>
                </div>

                <br>

                <div id="player2">
                    <audio controls src=""></audio>
                </div>

                <br>

                <div id="player3">
                    <audio controls src=""></audio>
                </div>-->

            </div>

            <!--<div class="form-group">
                <label for="file">Or choose audio files</label>
                <input type="file" class="form-control-file" id="file" multiple/>
            </div>-->

            <p align="center">
                <button onclick="submitToServer()" id="submitAudio" class="btn btn-primary">Submit</button>
            </p>

     </div>
</div>

<div class="result_container form-group">
    <label for="result">Result</label>
    <textarea class="form-control" id="result" rows="1"></textarea>
</div>

<div id="error-panel" class="alert" role="alert">
    <a id="error-message"></a>
</div>
{% endblock %}